.left-container{
    
    width: 200px;
    float: left;

}
.button-group{
    padding-top: 10px;
    padding-left: 10px;
}

.middle-container{
    
    width: 400px;
    float: left;
    height:550px;
    overflow-y:auto

}

.question_container{

    margin-top: 22px;
    background-color: rgb(248, 248, 248);

}
.hr-double{
    border: 0;
    border-top: 3px solid #d0d0d5;
}

.question{
    height: 60px;
  
    
}

.question_title{
    font-size: 17px;
    margin-left: 10px;
    padding-top: 10px;
}

.question_info{
    margin-left: 10px;
    margin-top: 9px;

}

.right-container{
    height:550px;
    overflow-y:auto;
    width: 655px;
    

}

.title{

}

.questionerInfo{
    margin-top: 30px;

}

.questionerAvater{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    float: left;
}

.questionerName{
    float: left;
    margin-left: 12px;
    margin-top: 8px;
    color: rgb(247, 93, 3);
    font-size: 16px;
    font-weight: bold

}

.question_content{
    width: 600px;
    float: left;
    margin-top: 15px;
    margin-left: 50px;

}

.test{
    float: left;
    width: 600px;
    margin-top: 60px;
}


.answer_container{
    width: 550px;
    margin-top: 50px;
   
}

.answer_info{
    width: 600px;
    margin-top: 55px;
    float: left;

}

.answerAvater{

    width: 48px;
    height: 48px;
    border-radius: 50%;
    float: left;

}

.answerName{
    float: left;
    margin-left: 12px;
    margin-top: 8px;
    color: rgb(247, 93, 3);
    font-size: 16px;
    font-weight: bold
}

.answer_content{
    width: 600px;
    float: left;
    margin-top: 15px;
    margin-left: 58px;
    
}
.test2{
    float: left;
    width: 600px;
    margin-top: 60px;
}
.rich_text{
    float: left;
    width: 600px;
    margin-top: 20px;
    background-color: blueviolet;
    
}


.rich_text2{
    float: left;
    width: 625px;
    margin-left: 20px;
}

.rich_text3{
    float: left;
    width: 490px;
    padding-left: 15px;
}

.rich_text4{
    float: left;
    width: 440px;
    padding-left: 15px;
}

.post_button { /* 按钮美化 */
	width: 100px; /* 宽度 */
	height: 40px; /* 高度 */
	border-width: 0px; /* 边框宽度 */
	border-radius: 3px; /* 边框半径 */
	background: #1E90FF; /* 背景颜色 */
	cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
	outline: none; /* 不显示轮廓线 */
	font-family: Microsoft YaHei; /* 设置字体 */
	color: white; /* 字体颜色 */
	font-size: 16px; /* 字体大小 */
    float: right;
    margin-right: 66px;
    margin-top: 10px;
}
.post_button:hover { /* 鼠标移入按钮范围时改变颜色 */
	background: #5599FF;
}

.cancle_button { /* 按钮美化 */
	width: 100px; /* 宽度 */
	height: 40px; /* 高度 */
	border-width: 0px; /* 边框宽度 */
	border-radius: 3px; /* 边框半径 */
	background: #f32121; /* 背景颜色 */
	cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
	outline: none; /* 不显示轮廓线 */
	font-family: Microsoft YaHei; /* 设置字体 */
	color: rgb(255, 255, 255); /* 字体颜色 */
	font-size: 16px; /* 字体大小 */
    float: right;
    margin-right: 16px;
    margin-top: 10px;
}
.cancle_button:hover { /* 鼠标移入按钮范围时改变颜色 */
	background: #ff5757;
}


.post_button2 { /* 按钮美化 */
	width: 90px; /* 宽度 */
	height: 30px; /* 高度 */
	border-width: 0px; /* 边框宽度 */
	border-radius: 3px; /* 边框半径 */
	background: #1E90FF; /* 背景颜色 */
	cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
	outline: none; /* 不显示轮廓线 */
	font-family: Microsoft YaHei; /* 设置字体 */
	color: white; /* 字体颜色 */
	font-size: 16px; /* 字体大小 */
    float: right;
    margin-right: 70px;
    margin-top: 10px;
}
.post_button2:hover { /* 鼠标移入按钮范围时改变颜色 */
	background: #5599FF;
}

.cancle_button2 { /* 按钮美化 */
	width: 90px; /* 宽度 */
	height: 30px; /* 高度 */
	border-width: 0px; /* 边框宽度 */
	border-radius: 3px; /* 边框半径 */
	background: #f32121; /* 背景颜色 */
	cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
	outline: none; /* 不显示轮廓线 */
	font-family: Microsoft YaHei; /* 设置字体 */
	color: rgb(255, 255, 255); /* 字体颜色 */
	font-size: 16px; /* 字体大小 */
    float: right;
    margin-right: 16px;
    margin-top: 10px;
}
.cancle_button2:hover { /* 鼠标移入按钮范围时改变颜色 */
	background: #ff5757;
}






.commentInfo{
   
    margin-left: 50px;
    width: 300px;
   margin-top: 15px;
   z-index: 6;
   

}

.commentAvater{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    z-index: 6;
}

.comment_reply_Avater{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    margin-left: 5px;
    z-index: 6;
}

.commentName{
    float: left;
    margin-left: 12px;
    margin-top: 8px;
    color: rgb(247, 93, 3);
    font-size: 14px;
    font-weight: bold;
    z-index: 6;
    
}

.comment_content{
    width: 480px;
    float: left;
   
    margin-left: 100px;
    
    
}

.comment_reply_Info{
    
    margin-left: 50px;
    width: 300px;
   margin-top: 35px;
   float: left;
}
.content-container{
    width: 580px;
    float: left;
    
   
    

}

.comment_reply_content{
  
    float: right;
    width: 400px;
    margin-right: 75px;
    
   
}


.arrow1{
    width: 10px;
    
    
    margin-left: 69px;
    margin-top: 5px;
    


  
  float: left;
    
}

.arrow2{
    width: 30px;
    height: 60px;
  
  float: left;
  margin-left: 15px;
    
}


.comment_comment_content{
    width: 600px;
    float: left;
    margin-left: 50px;
}


